#Mapa{
    position: absolute; 
    left: 864px; /* posiciona a 90px para a esquerda */ 
	top: 0px; /* posiciona a 70px para baixo */
}



body{
    background-image: url(rio2.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

#Entrada{
    padding: 10px;
    width: 200px;
    color: #000;
    
}

#Janela{
    padding: 10px;
    width: 200px;
    color: #000; 
    border-style: none;
    
}

#listagem{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white; 
}

#formulario {
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
  color: white;
}

#Texto{
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
    color: white;
}

.footer {
	position:absolute;
	bottom:0;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}